
body{ position: relative; height: 100%; width: 100%; overflow:hidden; }
#box { position: absolute; left: 0; top:0;  width: 100%; }
#box .works { background: #43CD80;  height: 1000px; }
#box .demo { background: #87CEEB;  height: 1000px; border-top:1px solid #87CEEB; position: relative;  }
#box .production { background: #00CD66;  height: 1000px;border-top:1px solid #00CD66; position: relative; }
#box .blog { background: #73bddc;  height: 1000px; }
#box .about { background: #21b7c6;  height: 1000px; position: relative; }

#automatic { width: 970px; height: 1000px;   position: relative; margin: 15% auto; overflow: hidden; }

.prev_div { width: 130px; height: 72px; position: absolute; top: 128px; left: 92px; z-index: 5; background: red; filter: alpha(opacity=0); opacity: 0; cursor: pointer; }
.next_div { width: 130px; height: 72px; position: absolute; top: 128px; right: 92px; z-index: 5; background: red; filter: alpha(opacity=0); opacity: 0; cursor: pointer; }
#automatic .prev { width: 120px; height: 72px; position: absolute; top: 108px; left: 72px; z-index: 4; }
#automatic .prev .ico { width: 76px; height: 112px; position: absolute; top: 0; left: 0; background: url(../images/demo/prev.png); }
#automatic .prev .ico1 { width: 76px; height: 112px; position: absolute; top: 0; left: 0; background: url(../images/demo/prev_1.png); z-index: 2; filter: alpha(opacity=0); opacity: 0; }
#automatic .prev .txt { width: 106px; height: 112px; position: absolute; top: 0; left: 65px; background: url(../images/demo/prev_txt.png) no-repeat; filter: alpha(opacity=0); opacity: 0; }
#automatic .next { width: 120px; height: 72px; position: absolute; top: 108px; right: 72px; z-index: 4; }
#automatic .next .ico { width: 76px; height: 112px; position: absolute; top: 0; right: 0; background: url(../images/demo/next.png) no-repeat; }
#automatic .next .ico1 { width: 76px; height: 112px; position: absolute; top: 0; right: 0px; background: url(../images/demo/next_1.png) no-repeat; z-index: 2; filter: alpha(opacity=0); opacity: 0; }
#automatic .next .txt { width: 106px; height: 112px; position: absolute; top: 0; right: 65px; background: url(../images/demo/next_txt.png) no-repeat; filter: alpha(opacity=0); opacity: 0; }
#automatic ul { width: 970px; height: 344px; position: absolute; top: 0; left: 0; z-index: 1; }
#automatic li { position: absolute;  }
#automatic .line { border: 4px solid #fff; width: 672px; height: 336px; position: absolute; top: 0; left: 50%; margin-left: -340px; z-index: 3; }

#automatic .pos_0 { top: -104px; left: 0; z-index: 1; filter: alpha(opacity=0); opacity: 0; }
#automatic .pos_1 { top: 104px; left: 0; z-index: 2; filter: alpha(opacity=60); opacity: 0.6; }
#automatic .pos_2 { top: 43px; left: 50px; z-index: 3; filter: alpha(opacity=80); opacity: 0.8; }
#automatic .pos_3 { top: 0; left: 145px; z-index: 4; }
#automatic .pos_4 { top: 43px; right: 50px; z-index: 3; filter: alpha(opacity=80); opacity: 0.8; }
#automatic .pos_5 { top: 104px; right: 0; z-index: 2; filter: alpha(opacity=60); opacity: 0.6; }
#automatic .pos_6 { top: -104px; right: 0; z-index: 1; filter: alpha(opacity=0); opacity: 0; }
#footer { width: 970px; height: 30px; text-align: center; padding-top: 50px; margin: 0 auto; }

#footer a { color: #930; font-family: arial; font-size: 15px; text-decoration: none; border-bottom: 1px dotted #930; }
#footer a:hover { border-bottom: 1px solid #930; }
#p_change { position: absolute; left: 18%; top:20%; background: #ccc; width:100px; height: 50px; line-height: 50px; text-align: center; border-radius: 20px; }
#p_change:hover {background:red; color:#fff; cursor:pointer;}

.production_box { width:1000px; height: 800px; background: #fff; margin: 50px auto; overflow: hidden; position: relative; padding-top: 50px; padding-left: 40px; }
.production_box li { width:200px; height:200px; background: #ccc; float: left; margin:20px; text-align: center; line-height: 200px; cursor:pointer; position: relative; overflow: hidden; border-radius: 10px; }

.production_box li span { position: absolute; left: -200px; top:0;  height: 100%; width:100%;  background: #0ecc37; opacity:0.9; color:#fff; font-size: 25px; font-weight: bold; }

/*所有的框架模型*/
.iframe_box {  width:100%; height: 100%; position: relative;  }

.iframe_box li { position: relative; width:100%; height: 100%; display: none;  }
.iframe_box li em { position: absolute; right:21.8%; top:10%; font-size: 50px; height: 50px; width:50px; background-color: #b24336;  z-index: 2; text-align:center; line-height: 50px; color:#fff; font-size: 20px; cursor:pointer; }
.iframe_box li p {  position:absolute; height: 1000px; width:100%; background: #000; opacity: 0.8; }
.iframe_box li div { position: absolute; height: 50%; width:60%;   margin:100px 300px; }
.iframe_box li iframe { background: #fff;  }




.pos { position: fixed; right:-200px; top:20%;   }
.pos div { width: 200px; height:100px; background: #666; margin-top:2px; position: relative; right: 0; top:0;   }
.pos .active { right: 0; }
.pos a { width: 150px; height: 150px; cursor: pointer; color:#fff;  }
.pos span { float: left; text-align: center; width: 100px; height: 100px;  line-height: 100px;  }
.pos span.sp1 { font-weight: bold; font-size: 30px; }
.nav { height:150px; width: 100%; background: #363636; position: fixed; left: 0; top:0;  }
.headsculpture { width: 100px; height: 100px; border-radius: 50%; background: #ccc; margin:20px; margin-left: 40px;}
.headsculpture img { width: 100%; height: 100%; border-radius: 50%; cursor: pointer;}
.nav_box { padding-right: 100px; position: relative; }
.nav_box li{ float: left; margin:70px 50px; list-style: none;}
.nav_box li a{ display: block;  font-weight: bold; font-size:20px; text-decoration: none; color:#fff;}
.nav_box li a:hover{ color:#8B7500;}
.pos_Top { width: 50px; height: 48px; position: fixed; right: 0; bottom:20px; background: url(../images/demo/5-120601160020.png) no-repeat 0 0; }


/*about*/

#div1{ width:200px; height:200px; position:absolute; left:0; top:0; border-radius: 50%; }

#div1 div { width: 100%; height: 100%; position: absolute; left: 0; top:0; display: none; border-radius: 50%; opacity:0.7; filter:alpha(opacity=50); text-align: center; line-height: 60px;  color:#fff; font-weight: bold; cursor: pointer;  background-color: #000;}
#div1 img { border-radius: 50%; }
.div2{  position:absolute; left:0; top:0; width: 100%; height: 100%;  display: none;  opacity:0.8; filter:alpha(opacity=80); }
.div2 span {text-align: center; line-height: 20px; display: none; background: green; cursor: pointer; }

.myself_box { width:600px; height: 376px; position: relative; left:33%; top:22.5%; z-index: 10;}
#close_my {  position: absolute; ;right: -20px; top:2px; z-index: 20; background-color: #FF6A6A;cursor: pointer; display: none; color:#fff; font-size: 30px;}

/*个人信息*/
.information { width:60px; height: 60px; overflow: hidden; border-radius: 50%; border:2px solid #fff; font-size: 14px; position: absolute; left: 47%; top:-20%;  cursor:pointer; color:#000; font-weight: bold; display: block; z-index: 20; opacity: 0;  }
.information b { width: 30px; height: 30px;  background: #ccc; float: left; position: relative;  }
.information  i{ position: absolute; text-align: center; line-height: 30px;   }	
.i1 { left: 5px; bottom:0;  }
.i2 { right: 5px; bottom:0; }
.i3{ right: 5px; top:0; }
.i4 { left: 5px; top:0; }
.information .color1 { background: #f5766a; }
.information .color2 { background: #a9c240; }
.information .color3 { background: #4fcbef; }
.information .color4 { background: #ffb94f; }

/*个人信息具体内容盒子*/
.myself { font-size: 12px; color:#fff; width: 600px; overflow: hidden;  } 
.myself  div{ width:300px; height: 188px;  background: url(../images/about/fast_nav_open.png) no-repeat ; float: left;   position: relative; display: none; }
.myself div.div2 { float: right;}
.myself .myself_infor1 {background-position: 0 0; }
.myself .myself_infor2 { background-position: -300px 0; }
.myself .myself_infor3 { background-position:-300px -189px; }
.myself .myself_infor4 { background-position: 0 -189px;}
.myself ul { position: absolute; }
.myself .u1 { left: 20px; top:60px;}
.myself .u2 { left: 20px; top:25px;}
.myself h3 { position: absolute; font-size: 20px }
.myself h3.h1 { left: 90px; top:20px;}
.myself h3.h2 { right: 80px; top:20px; }
.myself h3.h3 {left: 90px; bottom:30px; }
.myself h3.h4 { right: 80px; bottom:30px; }
.myself li { line-height: 20px; }
.my_bg { height: 100%; height: 100%; background: #000; display: none; }
#myse_img { height: 100%; width: 100%; }