@charset "utf-8";
/* CSS Document */

/*清楚默认样式*/
body, h1, h2, h3, h4, h5, h6, p, ul, li, ol, dl, dt, dd, div, a, i, b, em, strong, img, input{ margin:0; padding:0; }
b, strong{ font-weight:normal; }
i, em{ font-style:normal; }
a{ text-decoration:none; }
li{ list-style:none; }
input{ border:none; background:none; outline:none; }
textarea{ outline:none; resize:none; }

/*  公用 */
.clearFix:after{ content:''; clear:both; display:block; }
.clearFix{ zoom:1; }
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline; }

.wrap{ width:1240px; margin:0 auto; }
body img{ display:block; }

.h308{ width:380px; height:308px; }

.h62{ width:370px; height:48px;   padding:14px 0 0 10px; display:block; }
.h63{ width:170px; height:48px;   padding:14px 0 0 10px; display:block; }

.h30{ font-size:30px; color:#333; }
.h24{ font-size:24px; color:#333; }
.h12{ font-size:12px;  color:#fd8d4e; }
.h12_333{ font-size:12px; color:#333; margin-bottom:13px;  }
.h11{ font-size:11px; color:#999; }



.pt42{ padding-top:42px; padding-bottom:20px; }
.pt48{ padding-top:48px; padding-bottom:20px; }

.mr18{ margin-right:18px; }

.f31{ font-size:13px; color:#ff5d31;}

/*今日热点模型*/
.w576{ width:576px;  }

.comom_box1{ width:380px; height:288px; position:relative; display:block; position:relative; }
.comom_box_img1{ width:380px; height:254px; }
.comom_pos1{ position:absolute; left:0; bottom:30px; width:380px;}
.comom_pos_bg1{ background:#000; padding-left:10px;height:30px; line-height:30px; color:#fff; opacity:0.8; filter:alpha(opacity=80); }
.coomom_box_p{ width:370px; height:24px;  padding-left:10px; padding-top:14px; font-size:12px; color:#444; background:#fff; }
.comom_pos_bg111{ width:100%; height:100%; background:#000; position:absolute; left:0; bottom:0; opacity:0.7; 
filter:alpha(opacity=70); display:none; color:#fff; }
.comom_box1:hover .comom_pos_bg111{ display:block; }

.comom_box2{ width:180px; height:134px; position:relative; display:block; }
.comom_box_img2{ width:180px; height:100px; }
.comom_pos2{ width:180px; position:absolute; left:0; bottom:30px; }
.br1{  border-bottom:1px solid #ccc; }
.mt20{ margin-top:20px; }
.comom_pos_bg2{ background:#000; padding-left:10px;height:30px; line-height:30px; color:#fff; opacity:0.8;}
.coomom_box_p2{ width:170px; height:20px;  padding-left:10px; padding-top:14px; font-size:12px; color:#444; 
background:#fff;}
.comom_pos_bg22{ width:100%; height:100%; background:#000; position:absolute; left:0; bottom:0; opacity:0.7; 
filter:alpha(opacity=70); display:none; color:#fff; }
.comom_box2:hover .comom_pos_bg22{ display:block; }
/*
右侧的*/
.ml26{ margin-left:26px; }
.comom_box3{ width:240px; height:124px; position:relative; display:block; }
.comom_box_img3{ width:240px; height:120px; }
.comom_pos3{ width:240px; position:absolute; left:0; bottom:0; }
.comom_pos_bg3{ background:#000; padding-left:10px; height:30px; line-height:30px; color:#fff; opacity:0.8;}

/*TV*/
.comom_box4{ width:180px; height:309px; position:relative; display:block; }
.comom_box_img4{ width:180px; height:246px; }
.comom_pos4{ width:180px; position:absolute; left:0; bottom:63px; }
.br1{  border-bottom:1px solid #ccc; }
.comom_pos_bg4{ background:#000; padding-left:10px;height:30px; line-height:30px; color:#fff; opacity:0.8;}
.coomom_box_p4{ width:170px; height:50px;  padding-left:10px; padding-top:13px; font-size:12px; color:#444; 
background:#fff;}
.comom_pos_bg44{ width:100%; height:100%; background:#000; position:absolute; left:0; bottom:0; opacity:0.7; 
filter:alpha(opacity=70); display:none; color:#fff; }
.comom_box4:hover .comom_pos_bg44{ display:block; }
.color4{ color:#87c55a; font-size:14px; }
.w980{ width:980px; }

/*预告片*/
.comom_box5{ width:238px; height:134px; position:relative; display:block; }
.comom_box_img5{ width:238px; height:98px; border:1px solid #960; }
.comom_pos5{ width:240px; position:absolute; left:0; bottom:35px; }
.comom_pos_bg5{ background:#000; padding-left:10px;height:30px; line-height:30px; color:#fff; opacity:0.8;}
.coomom_box_p5{ width:170px; height:14px;  padding-left:10px; padding-top:20px; font-size:12px; color:#444; 
font-weight:bold;}
.comom_pos_bg55{ width:100%; height:100%; background:#000; position:absolute; left:0; bottom:0; opacity:0.7; 
filter:alpha(opacity=70); display:none; color:#fff; }
.comom_box5:hover .comom_pos_bg55{ display:block; }

/*妹子*/
.mr2{ border-right:2px solid #fff; }
.mt2{ border-top:2px solid #fff; }
.mr1{ border-right:1px solid #fff;}
.comom_box6{ width:205px; height:410px; position:relative; display:block; }
.comom_box_img6{ width:205px; height:410px; }
.comom_pos_bg6{ background:#000; padding-left:10px;height:30px; line-height:30px; color:#fff; opacity:0.8;}
.comom_pos_bg66{ width:100%; height:100%; background:#000; position:absolute; left:0; bottom:0; opacity:0.7; 
filter:alpha(opacity=70); display:none; color:#fff; text-align:center; line-height:410px; }
.comom_box6:hover .comom_pos_bg66{ display:block; }

.comom_box7{ width:205px; height:205px; position:relative; display:block; }
.comom_box_img7{ width:205px; height:205px; }
.comom_pos_bg7{ background:#000; padding-left:10px;height:30px; line-height:30px; color:#fff; opacity:0.8;}
.comom_pos_bg77{ width:100%; height:100%; background:#000; position:absolute; left:0; bottom:0; opacity:0.7; 
filter:alpha(opacity=70); display:none; color:#fff; text-align:center; line-height:205px; }
.comom_box7:hover .comom_pos_bg77{ display:block; }

.comom_box8{ width:203px; height:205px; position:relative; display:block; }
.comom_box_img8{ width:203px; height:205px; }
.comom_pos_bg8{ background:#000; padding-left:10px;height:30px; line-height:30px; color:#fff; opacity:0.8;}
.comom_pos_bg88{ width:100%; height:100%; background:#000; position:absolute; left:0; bottom:0; opacity:0.7; 
filter:alpha(opacity=70); display:none; color:#fff; text-align:center; line-height:203px; }
.comom_box8:hover .comom_pos_bg88{ display:block; }

.comom_box9{ width:208px; height:205px; position:relative; display:block; }
.comom_box_img9{ width:208px; height:205px; }
.comom_pos_bg9{ background:#000; padding-left:10px;height:30px; line-height:30px; color:#fff; opacity:0.8;}
.comom_pos_bg99{ width:100%; height:100%; background:#000; position:absolute; left:0; bottom:0; opacity:0.7; 
filter:alpha(opacity=70); display:none; color:#fff; text-align:center; line-height:208px; }
.comom_box9:hover .comom_pos_bg99{ display:block; }

.comom_box10{ width:196px; height:203px; position:relative; display:block; }
.comom_box_img10{ width:196px; height:203px; }
.comom_pos_bg10{ background:#000; padding-left:10px;height:30px; line-height:30px; color:#fff; opacity:0.8;}
.comom_pos_bg1010{ width:100%; height:100%; background:#000; position:absolute; left:0; bottom:0; opacity:0.7; 
filter:alpha(opacity=70); display:none; color:#fff; text-align:center; line-height:208px; }
.comom_box10:hover .comom_pos_bg1010{ display:block; }

.comom_box11{ width:216px; height:203px; position:relative; display:block; }
.comom_box_img11{ width:216px; height:203px; }
.comom_pos_bg11{ background:#000; padding-left:10px;height:30px; line-height:30px; color:#fff; opacity:0.8;}
.comom_pos_bg1111{ width:100%; height:100%; background:#000; position:absolute; left:0; bottom:0; opacity:0.7; 
filter:alpha(opacity=70); display:none; color:#fff; text-align:center; line-height:208px; }
.comom_box11:hover .comom_pos_bg1111{ display:block; }

.comom_box12{ width:205px; height:203px; position:relative; display:block; }
.comom_box_img12{ width:205px; height:203px; }
.comom_pos_bg12{ background:#000; padding-left:10px;height:30px; line-height:30px; color:#fff; opacity:0.8;}
.comom_pos_bg1212{ width:100%; height:100%; background:#000; position:absolute; left:0; bottom:0; opacity:0.7; 
filter:alpha(opacity=70); display:none; color:#fff; text-align:center; line-height:208px; }
.comom_box12:hover .comom_pos_bg1212{ display:block; }

.comom_box13{ width:412px; height:410px; position:relative; display:block; }
.comom_box_img13{ width:412px; height:410px; }
.comom_pos_bg13{ background:#000; padding-left:10px;height:30px; line-height:30px; color:#fff; opacity:0.8;}
.comom_pos_bg1313{ width:100%; height:100%; background:#000; position:absolute; left:0; bottom:0; opacity:0.7; 
filter:alpha(opacity=70); display:none; color:#fff; text-align:center; line-height:410px; }
.comom_box13:hover .comom_pos_bg1313{ display:block; }







