
body{ background: #f2f2f2; }

.nav_top{ padding:18px 0 26px ; }
h1 i{ width: 65px; height: 65px; background: url(../image/logo_v3.png) no-repeat; 
}
h1 span{ font-size:24px; color: #690; margin:26px 0 0 10px; }
.nav_top_right{ padding-top:20px; }
.nav_top_right li a{ padding:3px 4px 5px;   font-size: 16px; color:#666;  }
.nav_top_right li .color_690{ color: #690; }
.nav_top_right_active{ border-bottom:2px solid #690; }
.nav_top_right li .nav_right_active:hover{background: none; color: #690; }
.nav_top_right li a:hover{ background: #690; color: #fff; }
.nav_top_right li span{ width: 2px; height: 10px; background: url(../image/ico_index.png) no-repeat -70px 0; margin: 11px 10px 0; }

.nav_bottom{ padding-top:20px; }
.nav_bottom_left{ position: relative; width:570px; height: 390px; margin-left: 20px; }
.nav_bottom_left_ul{ position: relative; width: 570px; height: 390px;}
.nav_bottom_left_ul li{ position: absolute; left: -2px; bottom: 0; }
.nav_bottom_left_a1{ color:#fff; position: relative; display:block; }
.nav_bottom_left_a1 img{ width: 570px; height: 390px; }
.nav_bottom_left_pos{ position: absolute; left: 0; bottom:0; width: 100%; height: 110px; background: #000; opacity: 0.4; filter:alpha(opacity=40);  }
.nav_bottom_left_pos h2{  font-size: 25px; margin-left: 20px; }
.nav_bottom_left_pos p{ font-size: 12px; line-height: 20px; margin-left: 20px;
white-space: nowrap; overflow: hidden; text-overflow:ellipsis;  }

.btn1_img{ position: absolute; right: 12px; bottom: 15px; z-index: 5; }
.btn1_img a{ width:10px; height: 10px; background: #ccc; display: block; margin-right:12px; border-radius: 50%; }
.btn1_img a:hover{ background: #690; }
.btn1_img .btn1_img_active{ background: #690; }

.btn2 a{  text-align: center; line-height: 36px; }
.btn2 a:hover{ background: #999; opacity: 0.6 }
.btn2_left{ position: absolute; left: 0; top:50%; width: 36px; height:36px; display: block; font-size:25px; color:#fff; }
.btn2_right{ position: absolute; right: 0; top:50%; width: 36px; height:36px; display: block; font-size:25px; color:#fff; }

.nav_bottom_right{ margin-left: 15px; }
.nav_bottom_right_top{ font-size:11px; color:#999; }
.nav_bottom_right_top h3{ font-size:23px; color:#690; margin-right:8px; }
.nav_bottom_right_top i{ margin:10px 10px 0 4px; }
.nav_bottom_right_top span{ margin-top: 10px; }

.nav_bottom_right_bottom{ margin-top:7px; border:1px solid #ccc;  border-top:2px solid #690;  }
.nav_bottom_right_bottom_top{ padding-top:11px;}
.nav_bottom_right_bottom_top_a1{ font-size: 11px; color:#666; position: relative; }
.nav_bottom_right_bottom_top_a1:hover{ color:#690;  }
.nav_bottom_right_bottom_top_a1:hover .nav_bottom_right_bottom_top_pos{ display: block;  }
.nav_bottom_right_bottom_top_active .nav_bottom_right_bottom_top_pos{ display: block;  }

.nav_bottom_right_bottom_top_active{ color:#690; }
.nav_bottom_right_bottom_top_a1 i{ margin:0 5px; }
.nav_bottom_right_bottom_top li span{ font-size: 12px; color:#666;  }
.nav_bottom_right_bottom_top_a1 .nav_bottom_right_bottom_top_pos{ width:10px; height: 5px; background: url(../image/cc.png) no-repeat;  position: absolute; left: -26px; top: -11px; display: none;  }

.nav_bottom_right_bottom_bottom{ margin-top: 9px; }
.vc_list li:hover{ background: #fafff7; }
.vc_list .vc_lis_l1:hover{ background: #fff; }
.vc_list_a1{ font-size: 11px; color: #690; width: 170px; margin-top:10px; white-space: nowrap; overflow: hidden; text-overflow:ellipsis; }
.vc_list_a2{ font-size: 9px; color: #666; margin-top: 10px; width: 128px; }
.vc_list_a3{ font-size: 12px; color: #666; padding:0 4px; margin:5px 5px 5px 0;  }
.vc_list_a3:hover{ background: #690; color: #fff; }
.vc_list span{ font-size: 9px; margin:10px 14px 0 10px; color: #690; font-weight:bold; }
.vc_list .vc_lis_span1{ margin-right:6px; }
.vc_list i{  width: 7px; height:7px; margin-left:5px; margin-top:16px; margin-right: 5px; }
.vc_list_i1{ background: url(../image/ico20_1113.png) no-repeat -2px -66px;}
.vc_list_i2{ background: url(../image/ico20_1113.png) no-repeat -2px -86px;}
.vc_list b{ font-size: 9px; color: #666; margin-top:10px; }
.vc_list .color_e45b72{ color: #e45b72; }

/*周榜冠军*/
.champion_header_a1{ font-size:11px; color:#666; margin-top:20px; margin-left:10px; height: 32px; line-height: 32px; }
.champion_header_a1:hover{ color: #690; }
.champion_header img{ width:440px; height: 58px;  }
.h3bg22{ width:190px; height:58px; background:url(../image/ico_vchart_title.png) no-repeat; text-indent:-9999em; }
.champion_content_a1{ width:182px; height:242px;  border:1px solid #e8e8e8; position: relative; }
.champion_content_a1 img{ width: 176px; height: 236px;  border:2px solid #fff; }
.champion_content_a1_pos{ position: absolute; left: 0; bottom: 0; width:100%; height:124px; 
	background: url(../image/index_play_bg.png) no-repeat; display:none;  }
.champion_content_a1_pos h4{ font-size: 16px; color:#fff ; position: absolute;left: 60px; 
	bottom:10px;font-weight:normal; }
.champion_content_a1:hover{box-shadow:1px 1px 10px #690; }
.champion_content_a1:hover .champion_content_a1_pos{ display: block; }

/*揭榜节目*/
.champion_header_a2{ font-size: 14px; color: #666; padding: 4px; }
.champion_header_a2:hover{ background: #690; color:#fff; }
.h3bg23{ width:190px; height:40px; background:url(../image/ico_vchart_title.png) 0 -61px no-repeat; text-indent:-9999em; }

.champion_content_div1{ border:1px solid #ccc;  width:182px;  }
.champion_content_a2{ position:relative; display: block; }
.champion_content_a2 img{ width: 178px; height: 102px; border:2px solid #fff; }

.champion_content_div1 p{  color:#666; width: 175px; padding-left: 5px; height: 40px; line-height: 40px; white-space:nowrap; overflow: hidden; text-overflow:ellipsis; }

.champion_content_a2_pos1{ position: absolute; left: 2px; bottom:0px; width:178px; height:102px; background: url(../image/index_play_bg.png) no-repeat; }
.champion_content_a2_pos1 h4{ font-size:11px; color:#fff;  width: 160px; white-space: nowrap; overflow: hidden; text-overflow:ellipsis; position:absolute; left: 10px; bottom:20px; }
.champion_content_a2_pos1 i{ position:absolute; left:10px; bottom:4px;  width: 160px; font-size:11px; color:#cf9;  width: 160px; white-space: nowrap; overflow: hidden; text-overflow:ellipsis;}
.champion_content_a2_pos2{position: absolute; left: 0; bottom: 0; display: none; }
.champion_content_a2_pos2 span{  background:url(../image/ico_play_718.png) no-repeat -4px -4px; position:absolute; left:57px; bottom:25px; width:53px; height:53px; }
.champion_content_a2_pos2 i{  background:url(../image/convenient-v2.png) no-repeat -2px -108px; position:absolute; left:158px; bottom: 5px; width:18px; height:19px; }

.champion_content_div1:hover{box-shadow:1px 1px 10px #690;  }
.champion_content_div1:hover .champion_content_a2_pos2{ display: block; }

/*入围打榜*/
.h3bg24{ width:190px; height:40px; background:url(../image/ico_vchart_title.png) 0 -100px no-repeat; text-indent:-9999em; }

/*新闻资讯*/
.new{ padding:42px 18px 46px 20px;}
.h3bg25{ width:190px; height:40px; background:url(../image/ico_vchart_title.png) 0 -140px no-repeat; text-indent:-9999em; }
.new_content_a1{ border:1px solid #ccc; position: relative; }
.new_content_a1 img{ width: 468px; height: 273px;  border:2px solid #fff; }

.new_content_a1_pos{ position: absolute; left: 2px; bottom:2px; background: url(../image/index_play_bg.png) repeat-x; width: 468px; height: 124px;  }
.new_content_a1_pos span{ font-size:14px; color:#fff; white-space: nowrap; overflow: hidden; text-overflow:ellipsis; width: 90%; padding: 0 10px; margin-top: 75px; font-weight: bold;  display: block;}
.new_content_a1_pos p{ font-size:14px; color:#690; white-space: nowrap; overflow: hidden; text-overflow:ellipsis; width: 90%; padding: 0 10px;    }

.new_content_div1{ border:1px solid #ccc; width: 224px; margin-left: 17px; border-bottom: none;  }
.new_content_a2{ position: relative; }
.new_content_a2 img{ width: 220px; height:124px; border:2px solid #fff; }
.new_content_a2_pos{ position: absolute; left: 2px; bottom:2px; background: url(../image/index_play_bg.png) repeat-x; width: 220px; height: 124px;  }
.new_content_a2_pos p{ font-size:14px; color:#fff; white-space: nowrap; overflow: hidden; text-overflow:ellipsis; width: 90%; padding: 0 10px; margin-top: 95px;   }
.new_content_uu{ padding-top: 5px; }
.new_content_uu a{ font-size: 12px; color:#000; width: 208px; height: 28px; line-height: 28px;
display: block; padding-left:16px;  border-bottom: 1px solid #ccc; }

.new_content_a1:hover{box-shadow:1px 1px 10px #690;   }
.new_content_div1:hover{box-shadow:1px 1px 10px #690;   }
.new_content_uu a:hover{ background: #f5f5f5; color:#929900; }

/*吉尼斯*/
.year{ background:#f8f7f7; width: 960px; padding:0 18px 37px 20px; margin:0 auto; }
.year_header{ padding:21px 0 16px; }
.h3bg26{ width:238px; height:40px; background:url(../image/ico_vchart_title.png) no-repeat 0 -181px; text-indent:-9999em; }
.year_header_div1{ border: 1px solid #ccc; margin-top:5px; }
.year_header_div1 span{ width: 62px; height: 27px; border-right:1px solid #ccc; border-left:1px solid #ccc; margin:0 1px; border-top:1px solid #fff; border-bottom:1px solid #fff; background: #fff; font-size: 15px; color:#333;  text-align: center; line-height: 25px;}
.year_header_a1{ width: 25px; height: 25px; background: url(../image/year_bg.jpg) no-repeat;}
.year_header_a2{ width: 25px; height: 27px; background: url(../image/year_bg.jpg) no-repeat -27px -54px; }
.year_header_a1:hover{ width: 25px; height: 25px; background: url(../image/year_bg.jpg) no-repeat 0 -27px;}

.year_header_a2:hover{ width: 25px; height: 27px; background: url(../image/year_bg.jpg) no-repeat -27px -27px; }
.year_header_right{ padding:0;}

/*year_contetn*/
.year_header_div1{ border:1px solid #ccc;  padding-bottom: 30px;  }

.year_content_div1{ border:1px solid #ccc; }
.year_content_a1{ position:relative; display: block; }
.year_content_a1 img{ width: 220px; height: 124px; border:2px solid #fff; }
.year_content_a1_pos1{ position: absolute; left: 2px; bottom:0; width:220px; height:124px; background: url(../image/index_play_bg.png) no-repeat; }
.year_content_a1_pos1 h4{ font-size:11px; color:#fff;  width: 220px; white-space: nowrap; overflow: hidden; text-overflow:ellipsis; position:absolute; left: 10px; bottom:24px; }
.year_content_a1_pos1 i{ position:absolute; left:10px; bottom:4px;  width: 220px; font-size:11px; color:#cf9; width: 160px; white-space: nowrap; overflow: hidden; text-overflow:ellipsis; }
.year_content_a1_pos2{ position: absolute; left: 0; bottom: 0; display: none; }
.year_content_a1_pos2 span{  background:url(../image/ico_play_718.png) no-repeat -4px -4px; position:absolute; left:57px; bottom:25px; width:53px; height:53px; }
.year_content_a1_pos2 i{  background:url(../image/convenient-v2.png) no-repeat -2px -108px; position:absolute; left:200px; bottom: 5px; width:18px; height:18px; }

.year_content_box{ padding:8px 0 26px 17px; background: #fff; }
.year_content_div2 i{ width: 20px; height: 22px; background: url(../image/ico_sprite_01.png) no-repeat 0 -23px;}
.year_content_div2 span{ font-size: 11px; color: #333; margin:4px 6px 2px; }
.year_content_div2 b{ font-size: 9px; color: #993; margin-top:4px; }
.year_content_p{ font-size: 11px; color:#999; margin-top: 8px }
.year_content_p b{ color:#666; }
.year_content_p i{ color:#333; }

.year_content_div1:hover{box-shadow:1px 1px 10px #690;  }
.year_content_div1:hover .year_content_a1_pos2{ display: block; }

 /*合作专区 */
 .cooperation{ padding:0 18px 0 20px; } 
 .cooperation_header{ padding: 20px 0 32px; }
 .h3bg27{ width:238px; height:40px; background:url(../image/ico_vchart_title.png) no-repeat 0 -220px; text-indent:-9999em; }

 .cooperation_content_div1{ padding-left: 6px; }
 .cooperation_content_div1 li{ margin-top: 4px; }
 .cooperation_content_div1 h5{ font-size: 15px; color: #333; font-weight: normal; }
 .cooperation_content_div1 a{ width: 106px; height: 49px; display: block; }

/*footer*/
 .footer{ background: #fff; }
 .footer_box{ padding: 20px 18px 0 20px; }
 .footer_bottom{ height:18px;}
 .footer div{ text-align:center; position:relative; }
 .footer li{ padding-right:}
 .footer ul{ margin-top:40px; margin-bottom:30px;  margin-left:300px; }
 .footer ul a{ font-size:12px; color:#666;  float:left;}
 .footer ul span{ background:url(../image/ico_index.png) no-repeat -70px 0; width:2px; height:10px; margin:0 10px;  float:left;
 margin-top:8px;}
 .footer p{ font-size:11px; color:#999; margin-bottom:12px;  background: #fff; }
 .footer a{ font-size:11px; color:#999;  }
 .footer a:hover{ color:#690; }
 .footer_img1{ position:absolute; right:14px; top:43px; }

 .last_aa{ display: block; height: 10px; font-size: 11px; margin-left: 7px; color:#333; }
 .last_aa:hover{ color: #690; }