@charset "utf-8";
/* CSS Document */

body{ background:#f2f2f2; }

/*nav*/
.nav{ padding: 25px 0 23px; }
.nav_left{ font-size:24px; color:#690;  }
.nav_right{ padding-top:12px; }
.nav_right li{ background:url(../image/secondary-points.png) no-repeat right 4px; }
.nav_right a{ font-size:15px; color:#000;  padding-bottom:6px; margin:0 17px;  display:block; }
.nav_right .nav_right_active{ border-bottom:2px solid #690; }

  /*积分推荐*/
  .recommend_left{ margin-left:11px; }
 .recommend_left_top{ margin-bottom:13px; }
 .h3bg12{ width:191px; height:43px; background:url(../image/sprite.png) no-repeat 0 -160px; text-indent:-9999em; }
 
 .recommend_left_bottom{ border:1px solid #ccc; padding-top:9px;}
 .recommend_left_bottom_top{ margin-bottom:17px; margin-left:17px; }
 .pos_a1{ position:relative; border:1px solid #ccc; margin-right:10px; }
 .pos_a1 img{  width:126px; height:71px; border:3px solid #fff; }
 .pos_span1{ position:absolute; left:3px; top:3px; background:url(../image/special-rankg-bg.png) no-repeat; width:25px; height:25px;
 color:#fff; font-size:18px; text-align:center; line-height:25px; }
 h4 a{  font-size:12px; color:#666;  }
 h5 a{ font-size:9px; color:#690; }
 .tongyong_span1{ background:url(../image/sprite.png) no-repeat -211px -88px; width:14px; height:14px; margin-top:40px; margin-right:15px; }
 
 .recommend_left_bottom_bottom li{ width:321px; padding:9px 0; height:18px; border-top:1px solid #ccc; }
 .recommend_left_bottom_bottom .recommend_left_bottom_bottom_l2{ height:51px; }
 .tongyong_span3{ font-size:9px; margin-left:23px; margin-right:4px; }
 .tongyong_a1{ font-size:11px; color:#666; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width:99px; }
 .tongyong_a2{ font-size:12px; color:#690; width:132px; text-align:right; }
 .tongyong_a3{ background:url(../image/sprite.png) no-repeat -211px -88px; width:14px; height:14px;  margin-right:15px; }
 .tongyong_a4{ font-size:12px; color:#690; width:125px; text-align:right; }
 .tongyong_a5{ width:60px; height:27px; padding-left:51px; color:#690; line-height:27px; 
 background:url(../image/sprite.png) no-repeat 0 -133px; margin-left:26px; margin-top:12px; }

 .tongyong_a6{ font-size:12px; color:#666;  margin-top:20px; margin-right:15px; padding:2px 5px; }
 .tongyong_a6:hover{ background:#690; color:#fff; }


 .h3bg13{ width:191px; height:43px; background:url(../image/sprite.png) no-repeat 0 -203px; text-indent:-9999em; }
 
 .recommend_right{ width:266px; margin-right:15px; }
 .recommend_right_top{ border-bottom:1px solid #ccc; padding:3px 0 17px 3px; color:#690; font-size:18px; }
 .recommend_right_bottom{ border-top:1px solid #ccc; margin-top:1px;}
 .recommend_right_bottom li{ margin: 0 3px 8px 0;}
 .recommend_right_bottom a{ font-size:11px; color:#5e5d5d; padding:2px 5px; line-height:18px;  height:18px; 
 text-align:center; display:block }
 .recommend_right_bottom a:hover{ background:#690; color:#fff; }
 h6{ color: #9f9f9f; font-size: 14px; line-height:28px; padding-left: 2px; margin-bottom: 4px; margin-top:20px;}
 h6 i{ width:6px; height:7px; margin:11px 4px 0 0; background:url(../image/sprite.png) no-repeat -184px -89px;}
 .recommend_right_bottom_img1{ width:266px; height:176px; position:relative; right:24px; top:20px; }

 /*本周最热*/
 .h3bg13{ width:191px; height:43px; background:url(../image/sprite.png) no-repeat 0 -246px; text-indent:-9999em; }
 .h3bg14{ width:191px; height:44px; background:url(../image/sprite.png) no-repeat 0 -290px; text-indent:-9999em; }
  .h3bg15{ width:167px; height:43px; background:url(../image/sprite.png) no-repeat 0 -89px; text-indent:-9999em; margin-bottom: 14px; }

  .hot_right{ width: 323px; margin-left: 8px; }
  .hot_right_maxbox{ border:1px solid #ccc; border-bottom: none; } 
  .hot_right_box{  border-bottom: 1px solid #ccc; padding: 6px 12px 5px 10px; }
  .hot_right_box_left_img1{ width:109px; height: 110px; border:1px solid #cecece; margin-right:10px; }

  .hot_right_box_right{ width: 172px;  }
  .hot_right_box_right_a1{ font-size:16px; color:#690; margin-top: 4px;   }
  .hot_right_box_right_a2{ font-size: 12px; color:#666; margin-top: 4px;}
  .hot_right_box_right_a2 i{ width:16px; height: 16px; margin-right: 6px;  background:url(../image/sprite.png) no-repeat  -167px -89px; }
  .hot_right_box_right_a2:hover{ background: #690;  color: #fff; margin:0; padding: 4px; }

  .hot_right_box_right_bottom li{ width: 172px; margin-top: 10px; }
  .hot_right_box_right_bottom_a1{ font-size: 12px; color:#666;  }
  .hot_right_box_right_bottom_a1 i{ width:4px; height: 4px; background: #ccc; margin:8px 5px 0 2px; }
  .hot_right_box_right_bottom_a1 span{ width:107px;white-space: nowrap; overflow:hidden; text-overflow:ellipsis; }
  .hot_right_box_right_bottom_a3{ width:14px; height: 14px; margin-right: 8px; background:url(../image/sprite.png) no-repeat  -196px -88px; }
  .hot_right_box_right_bottom_a2{ width:14px; height: 14px; background:url(../image/sprite.png) no-repeat  -211px -88px; }

/*70年代*/
 .h3bg16{ width:135px; height:43px; background:url(../image/mv-my-channel_v2.png) no-repeat 0 -47px ; text-indent:-9999em; }
 .h3bg17{ width:135px; height:43px; background:url(../image/mv-my-channel_v2.png) no-repeat 0 -92px ; text-indent:-9999em; }
 .h3bg18{ width:135px; height:43px; background:url(../image/mv-my-channel_v2.png) no-repeat 0 -137px ; text-indent:-9999em; }

 /*节日*/
 .recommend_left_top_div1{ margin:11px; }
 .recommend_left_top i{ width:20px; height: 13px; background:url(../image/sprite.png) no-repeat 0 -435px ; text-indent:-9999em; margin-top:3px; margin-right:2px; }
 .recommend_left_top span{ font-size:11px; color: #000;  }
 .recommend_left_top_a1{ font-size:11px; color: #690; margin-left: 8px; margin-right:11px;}
 .h3bg19{ width:135px; height:43px; background:url(../image/mv-my-channel_v2.png) no-repeat 0 -182px ; text-indent:-9999em; }
 .h3bg20{ width:135px; height:43px; background:url(../image/mv-my-channel_v2.png) no-repeat 0 -230px ; text-indent:-9999em; }
 .h3bg21{ width:135px; height:43px; background:url(../image/mv-my-channel_v2.png) no-repeat 0 -271px ; text-indent:-9999em; }

 /*footer*/
 .footer_top{ height: 48px;  background: #fff; }
 .footer_center{   background: #fff; margin-top: 30px; }
 .footer_bottom{ height:18px;}

 .footer div{ text-align:center; position:relative; }
 .footer li{ padding-right:}
 .footer ul{ margin-top:40px; margin-bottom:30px;  margin-left:300px; }
 .footer ul a{ font-size:12px; color:#666;  float:left;}
 .footer ul span{ background:url(../image/ico_index.png) no-repeat -70px 0; width:2px; height:10px; margin:0 10px;  float:left;
 margin-top:8px;}
 .footer p{ font-size:11px; color:#999; margin-bottom:12px;  background: #fff; }
 .footer a{ font-size:11px; color:#999;  }
 .footer a:hover{ color:#690; }
 .footer_img1{ position:absolute; right:14px; top:43px; }



