	ul { overflow:hidden; position:relative; width:920px; height:305px; border:1px solid red; margin:200px auto; }
	li { list-style:none; position:absolute; top:0; left:0; padding-left:20px; }
	span { position:absolute; top:0; left:0; width:20px; height:100%; }
	img { width:840px; height: 305px;}