
.box  { width:1000px; margin:200px auto; }
.contentBox { margin-right: 20px; position: relative;  }
.imgBox { width: 500px; height: 500px;overflow: hidden; position: relative; display: none;}
.imgBox img { position: absolute; left: 0; top:0;  }
#drag { width: 200px; height: 200px; background: #000; opacity:0.7; position: absolute; left: 0; top:0; display: none; cursor: pointer; color:#fff; }

