@charset "utf-8";
/* CSS Document */
/*清除默认样式*/
body,h1,h2,h3,h4,h5,h6,p,ul,li,ol,dl,dd,a,i,b,em,strong,img,input{ margin:0; padding:0; }
li{ list-style:none; }
a{ text-decoration:none; }
i,em{ font-style:normal; }
b,strong{ font-weight:normal; }
input{ border:none; background: none; outline:none; }
textarea{ outline:none; resize:none; }
img,input{ display:block; }
img{ border:none; }

/*公用*/
.clearFix:after{ content:''; clear:both; display:block; }
.clearFix{ zoom:1; }
.fl{ float:left; display:inline; }
.fr{ float:right; display:inline; }
body{ font-family: \5FAE\8F6F\96C5\9ED1; background: #f3f3f3 url(../images/b_bg.jpg) repeat-x 0 0; font-size: 13px; height: 100%; }
.wrap{ width: 1000px; margin:0 auto; overflow:hidden; }