@charset "utf-8";
/* CSS Document */

/*清楚默认样式*/
body, h1, h2, h3, h4, h5, h6, p, ul, li, ol, dl, dt, dd, div, a, i, b, em, strong, img, input{ margin:0; padding:0; }
b, strong{ font-weight:normal; }
i, em{ font-style:normal; }
a{ text-decoration:none; }
li{ list-style:none; }
input{ border:none; background:none; outline:none; }
textarea{ outline:none; resize:none; }

/*  公用 */
.clearFix:after{ content:''; clear:both; display:block; }
.clearFix{ zoom:1; }
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline; }

body a:hover{ color:#ff4a00; }


.w930{ width:930px; margin:0 auto; }
.ml20{ margin-left:20px; }
.a12{ font-size:12px; color:#000; line-height:20px; }
.a19{ font-size:20px; color:#333; line-height:27px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; 
 display:inline-block; width:152px; height:27px; }
.sp12{ color:#8c8c8c; text-decoration:line-through; line-height:20px; }
.ml26{ margin-left:30px; margin-top:26px; }
.h12red{ color:red; font-size:12px; line-height:20px; }
.h12f{ color:#8c8c8c; font-size:12px; line-height:20px; }
.h12d{ color:#8c8c8c; text-decoration:line-through; font-size:12px; line-height:20px; }
.h11f{ color:#6d6d6d; font-size:11px; line-height:19px; }
.mt34{ margin-top:34px; margin-left:30px; }
.mt24{ margin-top:14px; }
.a14{ font-size:14px; color:#000; margin-left:30px; line-height:22px; }
.a12{ font-size:12px; color:#000; margin-left:30px; line-height:20px; }
.mt27{ margin-top:27px; }
.w34{ width:151px; height:42px; margin-left:27px; margin-top:27px;  }
.w10{ font-size:10px; color:#333; line-height:20px; height:20px; width:90px;}
.w12{ font-size:12px; color:#333; line-height:22px; height:22px; width:90px; }
.w179{ width:152px; height:61px; padding-left:27px; padding-top:27px;}

/*Forwardest*/
.mh410{ width:930px; height:410px; border:1px solid #dfdfdf; }
.h3{ font-size:17px; color:#333; margin-top:31px; margin-bottom:17px; }
.h410{ width:309px; height:410px; border-right:1px solid #dfdfdf;}
.h408{ width:301px; height:402px; border:4px solid #fff; display:block;}
.h411{ width:308px; height:410px; border-right:1px solid #dfdfdf;}
.h412{ width:300px; height:402px; border:4px solid #fff; display:block;}
.h412:hover{  border-color:#f4f4f4; }
.h408:hover{  border-color:#f4f4f4; }
.h12333{ font-size:12px; color:#333; height:28px; line-height:28px; }
.w13bg{ width:13px; height:12px; }
.mr13{ margin:0 13px; font-size:12px; color:#dfdfdf;}
.m11{ font-size:11px; color:#8c8c8c; }
.h85{ width:274px; height:66px; display:block; padding-left:27px; padding-top:26px;  }
.w146{ width:146px; height:15px; display:block;}
.w289{ width:252px; height:56px; background:#f3f3f3; font-size:11px; color:#6d6d6d; line-height:27px;
padding-left:15px; padding-right:22px; display:block; margin-left:6px; }
.h6{ width:289px; height:6px; background:url(../images/26.png) no-repeat center; display:block;}
.w930{ width:930px; overflow:hidden;}
.Forwardest_content_img1{ width:301px; height:239px; }

/*Slate*/
.Slae_content{ position:relative; }
.Slate_mh410{ width:930px; height:309px; border:1px solid #dfdfdf; }
.Slate_h410{ width:309px; height:309px; border-right:1px solid #dfdfdf;}
.Slate_h408{ width:301px; height:301px; border:4px solid #fff; display:block;}
.Slate_h408:hover{  border-color:#f4f4f4; }
.Slate_h411{ width:308px; height:309px; border-right:1px solid #dfdfdf;}
.Slate_h412{ width:300px; height:301px; border:4px solid #fff; display:block;}
.Slate_h412:hover{  border-color:#f4f4f4; }
.Slate_content_img1{ width:301px; height:210px; }
.w128c8c{ font-size:12px; color:#8c8c8c; text-decoration:line-through; }
.h12334{ font-size:12px; color:#000; height:20px; line-height:20px;}
.sp2{ position:absolute; left:215px; top:0; font-size:11px; color:#fff; width:70px; height:20px; 
background:red; text-align:center; line-height:20px; display:block;}
.sp3{ position:absolute; left:526px; top:0; font-size:11px; color:#fff; width:70px; height:20px; 
background:red; text-align:center; line-height:20px; display:block;}
.sp4{ position:absolute; right:24px; top:0; font-size:11px; color:#fff; width:70px; height:20px; 
background:red; text-align:center; line-height:20px; display:block;}

/*Book*/
.h1233{ font-size:12px; color:#333; }
.a1233{ font-size:12px; color:#333; margin-top:31px; margin-bottom:17px; }


.MIUI_content_img1{ width:301px; height:200px; }







