@charset "utf-8";
/* CSS Document */

/*头部*/
.header{ margin-bottom:15px;}
.header_top{ background:#fafafa;  height:36px; border-bottom:2px solid #dfdfdf; }
.header_top a{ font-size:11px; color:#8c8c8c; }
.header_top_right, .header_top_left{ margin-top:12px; }
.header_top_left span{ margin:0 12px 0 17px; color:#dfdfdf; }
.header_top_right span{ margin:0 15px; color:#dfdfdf; }

.header_search{ position:relative; height:96px; }
.header_search h1{ background:url(../images/h1bg.png) no-repeat 0; width:70px; height:70px; text-indent:-9999em; 
position:absolute; left:0; top:25px; }
.header_search a{  font-size:11px; color:#8c8c8c;  }
.header_search_a1{ background:url(../images/timebg.png) no-repeat 0; padding-left:21px; position:absolute; right:0; top:25px; }
.header_search .cs1{ width:422px; height:38px; border:1px solid #dfdfdf; position:absolute; right:136px; top:55px; }
.header_search .cs{ width:38px; height:39px; border-left:1px solid #dfdfdf; position:absolute; right:146px; top:55px; z-index:2;
background:url(../images/sousuo.png) no-repeat center;}
.header_search_a2{ text-align:center; line-height:20px;  color:#333; width:61px; height:20px; background:#f3f3f3; position:absolute; right:354px; top:65px; }
.header_search_a3{ text-align:center; line-height:20px;  color:#333; width:54px; height:20px; background:#f3f3f3; position:absolute; right:290px; top:65px; }
.header_search_a4{ text-align:center; line-height:20px;  color:#333; width:56px; height:20px; background:#f3f3f3; position:absolute; right:230px; top:65px; }
.header_search span{z-index:3; width:126px; height:40px; background:#ffdb3d; position:absolute; right:0px; top:55px; font-size:12px; color:#333; text-align:center; line-height:40px; }
.header_search span i{ background:url(../images/gouwuche.png) no-repeat 0; padding-left:17px; }
.header_search p{ width:190px; height:40px; border:1px solid #000; position:absolute; right:0px; top:95px; display:none; }
.header_search span:hover{ border:1px solid #000; width:126px; height:40px; border-bottom:none; }
.span_box:hover p{ display:block; }


