@charset "utf-8";
/* CSS Document */
/*head*/
.head{ height:30px; line-height:30px; border-top:1px solid #ddd; border-bottom:1px solid #ddd; background:#f9f9f9; min-width:1170px;}
/*login左侧*/
.login_l a{ color:#666;}
.login_l a.collect:hover .col{ background:url(../images/l_down.png) no-repeat 0 0; }
.login_l .col{ background:url(../images/login_star.png) no-repeat; margin-top:9px; margin-right:3px; width:13px; height:13px;}
.login_l .login{ margin-left:17px; color:#f76120;}
.login_l .login:hover{ text-decoration:underline;}
.login_l .register{ margin-left:13px; margin-right:10px;}
.login_l .register:hover{ text-decoration:underline;}
.login_l .line{ color:#ddd;}
.login_l .phone{ margin-left:8px; width:90px; position:relative; }
.login_l .phone_box{ width:90px; background:url(../images/l_arrow2.png) no-repeat 77px 14px; display:block; border-left:1px solid #f9f9f9; border-right:1px solid #f9f9f9; position:absolute; z-index:10; }
.login_l .phone .phone_box.active{ width:90px; height:28px; line-height:30px; background:url(../images/l_arrow.png) no-repeat 77px 14px #fff; display:block; border-left:1px solid #ddd; border-right:1px solid #ddd;}
.login_l .phone .pos{ width:164px; height:265px; border:1px solid #ddd; position:absolute; left:0; top:27px; background:#fff; display:none; z-index:2;}
.login_l .phone .pos .s1{ background:#2bb8aa; width:2px; height:10px; display:inline-block;}
.login_l .phone .pos img{ margin-left:25px;}
.login_l .phone .pos a{ height:132px; border-bottom:1px dashed #ddd; display:block; position:relative; padding-left:10px; }
.login_l .phone .pos a.free2{ border-bottom:1px solid #ddd;}
.login_l .phone .pos a i{ background:url(../images/app_pos_r.png) no-repeat ; width:10px; height:16px; position:absolute; right:13px; top:67px; display:none;}
.login_l .phone .pos a:hover{ background:#f9f9f9;}
.login_l .phone .pos a:hover i{ display:block;}
.login_l .phone_box .app_phone{ background:url(../images/l-hd_phone.png) no-repeat; width:10px; height:12px; margin:9px 3px 0 9px;}
.login_l .phone_box:hover{ background:url(../images/l_arrow.png) no-repeat 77px 14px; color:#2bb8aa;}
.login_l .phone_box:hover .app_phone{ background:url(../images/l_hd_phone2.png) no-repeat;}

/*login右侧*/
.login_r ul li{ position:relative; }
.login_r ul li b{ background:url(../images/l_arrow2.png) no-repeat; width:6px; height:3px; margin-left:7px; margin-top:14px; }
.login_r ul li .i1{ background:url(../images/cart_r.png) no-repeat; width:13px; height:12px; margin-top:10px; margin-right:10px;}
.login_r ul li .i2{ color:#f87e49;}
.login_r ul li .line1{ width:1px; height:12px; background:#ddd; margin-top:9px;}
.login_r ul li a:hover{ color:#2bb8aa;}
.login_r ul li a{ color:#666 }
.login_r ul li .a1{ padding-left:11px; padding-right:7px; border-right:1px solid #f9f9f9; border-left:1px solid #f9f9f9;}
.login_r ul li .a2{ padding-right:8px;}
.login_r ul li .a2:hover{ text-decoration:underline; }
.login_r ul li:hover .a1{ background:#fff; position:relative; z-index:10; border-right:1px solid #ddd; border-left:1px solid #ddd; padding-left:12px; padding-right:8px; margin-left:-1px; margin-right:-1px; }
.login_r ul li:hover .b1{ background:url(../images/l_arrow.png) no-repeat; width:6px; height:3px; margin-left:7px; margin-top:14px; }
.login_r ul li .pos2{ border:1px solid #ddd; position:absolute; left:0; top:29px; background:#fff; padding-top:10px; display:none; z-index:9; }
.login_r ul li.active .pos2{ display:block; }
.login_r ul li .pos2 a{ height:30px; display:block; padding-left:13px; }
.login_r ul li .pos2 a:hover{ background:#f9f9f9; color:#2bb8aa; }
.login_r ul li .my_pos{ width:81px; height:250px; padding-top:8px; left:-1px; }
.login_r ul li .recent_pos{ position:absolute; left:-139px; width:219px; height:202px; }
.login_r ul li .recent_pos .rec_1{ height:63px; border-bottom:1px dashed #ddd; padding-left:13px; padding-top:12px;}
.login_r ul li .recent_pos .rec_1:hover{ background:#f9f9f9;}
.login_r ul li .recent_pos .rec_1 img{ width:80px; height:50px; }
.login_r ul li .recent_pos .rec_1 .price{ width:105px; }
.login_r ul li .recent_pos .rec_1 .price p{ line-height:16px;}
.login_r ul li .recent_pos .rec_1 .price span{ color:#f76120; font-weight:bold;}
.login_r ul li .recent_pos .rec_1 .price i{ text-decoration:line-through;}
.login_r ul li .recent_pos .clear{text-align:center; height:50px; line-height:50px; color:#2bb8aa}
.login_r ul li .recent_pos .clear:hover{ text-decoration:underline; }
.login_r ul li .shop_pos{ width:219px; height:70px; text-align:center; line-height:70px; left:-109px; }
.login_r ul li .service_pos{ width:92px; height:160px; left:-12px; }
.login_r ul li .sell_pos{ width:97px; height:100px; left:-17px; }
.login_r ul li .more_pos{ width:80px; height:100px; position:absolute; left:-24px; }

/*banner*/
.banner{ position:relative; }
.banner span{ position:absolute; right:8px; top:9px; width:13px; height:10px; background:url(../images/x.png) no-repeat;}

/*logosearch*/
.logosearch{ height:84px; margin-top:21px; }
.logosearch .logo{ margin-right:183px;}
.logosearch .logo h2{ width:82px; height:54px; background:url(../images/base.vdd88fa40.png) no-repeat 0 -78px; text-indent:-9999em; margin-right:10px;}
.logosearch .logo .bj{ font-size:18px; color:#000; font-weight:bold;}
.logosearch .logo .citys{ width:60px; height:45px;}
.logosearch .logo .citys a{ display:block;}
.logosearch .logo .citys a.bj{ margin-bottom:2px; margin-top:5px;}
.logosearch .logo .citys a.city{ width:58px; height:20px; border:1px solid #eee; color:#999; text-align:center; line-height:20px;}
.search{width:488px;}
.search .search_c{ width:484px; height:38px; border:2px solid #2bb8aa; margin-bottom:14px; }
.search .store{ width:62px; height:38px; border-right:1px solid #ddd;  text-align:center; line-height:38px;}
.search .store a{ display:block; width:61px; height:38px; background:#fff; color:#666; }
.search .store a.team{ background:url(../images/l_arrow2.png) no-repeat 49px 17px; }
.search .store a.team:hover{ background:url(../images/l_arrow.png) no-repeat 49px 17px #f9f9f9;}
.search .store .store_pos{ border:1px solid #ddd; border-top:none; display:none; }
.search .search_bot ul li{ margin-right:20px;}
.search .search_bot ul li a{ color:#666;}
.search .search_bot ul li a:hover{ color:#2db8ad; text-decoration:underline; }
.search .text{ padding-top:12px; padding-bottom:12px; padding-left:6px; font-size:14px; color:#a9a9a9; width:352px; }
.search .submit{ width:63px; height:38px; text-align:center; line-height:38px; background:#2bb8aa; color:#fff; font-size:14px; cursor:pointer; }
.search_r a{ margin-left:18px; width:36px; height:42px; }
.search_r .a1{ background:url(../images/l_meituan.png) no-repeat -10px -30px; }
.search_r .a2{ background:url(../images/l_meituan.png) no-repeat -75px -30px; width:60px; }
.search_r .a3{ background:url(../images/l_meituan.png) no-repeat -160px -30px; }
/*nav*/
.nav{ width:1170px;}
.nav_left{ background:#1caf9a; width:232px; height:40px;  color:#fff; line-height:40px; padding-left:14px; }
.nav_left h3{ font-size:15px;}
.nav_right{  width:924px; background:#2bb8aa; height:40px; font-size:16px; line-height:40px;}
.nav_right a{ float:left; padding-left:27px; padding-right:29px; font-weight:bold; color:#fff;}
.nav_right a:hover{ background:#00c3b0;}

/*主页侧边栏*/
.qz_column{ height:482px; margin-bottom:30px; }
.qz_side{ width:244px; height:479px; border:1px solid #eee; border-top:none; background:#fafafa; }
.qz_side:hover{ border:1px solid #bdbdc7; border-top:none;}
.qz_side ul li{ position:relative; }
.qz_side ul li .qz_div1{ position:relative; z-index:2; height:52px; line-height:52px; width:244px; }
.qz_side ul li .qz_div1 .side_box{ margin-left:10px; width:201px; padding-left:5px; padding-right:18px; border-bottom:1px solid #eee;}
.qz_side ul li .qz_div1 .side_box a.a2{ margin-right:10px; }
.qz_side ul li .qz_div1:hover .side_box{ margin-left:10px; width:201px; padding-left:5px; padding-right:27px; border-bottom:1px solid #eee;}
.qz_side ul li .beauty{ border-bottom:none; height:63px; line-height:62px; }
.qz_side ul li .qz_div1 a{ color:#666; }
.qz_side ul li .qz_div1 a h2{ font-size:14px; color:#333; }
.qz_side ul li .qz_div1 a h2:hover{ color:#2bb8aa; }
.qz_side ul li .qz_div1 a:hover{ color:#2bb8aa; }
.qz_side ul li .pic_r{ background:url(../images/g_nav_nest.png) no-repeat; color:#e7e1dd; position:absolute; right:15px; top:20px; width:5px; height:9px;  }
.qz_side ul li .pos3{ width:284px; height:479px; border-right:1px solid #bdbdc7; border-bottom:1px solid #bdbdc7; position:absolute; left:245px; top:0px; display:none; background:#fff; z-index:3;}
.qz_side ul li.active .pos3{ display:block; }
.qz_side ul li .pos3 .pos_l{ width:268px; padding-left:20px; }
.qz_side ul li .pos3 .pos_l a:hover{ color:#f96222;}
.qz_side ul li .pos3 .pos_l h3{ margin-top:19px; margin-bottom:18px;}
.qz_side ul li .pos3 .pos_l a{ width:134px; line-height:24px; color:#666;}
.qz_side ul li .pos3 .pos_l .lafi{ position:absolute; right:45px; bottom:4px; z-index:99;}
.qz_side ul li #top_52{ top:-52px;}
.qz_side ul li #top_104{ top:-104px;}
.qz_side ul li #top_208{ top:-208px;}
.qz_side ul li #top_260{ top:-260px;}
.qz_side ul li #top_312{ top:-312px;}
.qz_side ul li #top_364{ top:-364px;}
.qz_side ul li #top_416{ top:-416px;}
/*主页广告上*/
.qz_banner{ width:707px; height:479px; padding-left:18px; }
.qz_banner ul .li1,.li2,.li3{ height:52px; width:689px; border-bottom:1px solid #ededed; line-height:48px;  }
.qz_banner ul .li1{ background: url(../images/H.png) no-repeat 0 18px ;}
.qz_banner ul .li2{ background: url(../images/ho.png) no-repeat 0 18px; position:relative; }
.qz_banner ul .li3{ background: url(../images/star.png) no-repeat 0 18px;}
.qz_banner ul .li3 .mdy{ margin-right:0;}
.qz_banner ul li a{ float:left; margin-right:24px; color:#666; }
.qz_banner ul li span{ padding:0 20px;}
.qz_banner ul li a.active{ color:#f76120;}
.qz_banner ul li #qzz_more{ margin-left:5px; margin-top:15px;}
.qz_banner ul li .qzz_more{ width:37px; height:20px; line-height:20px; padding-left:5px; margin-right:0; border:1px solid #ededed; background: url(../images/tri.png) no-repeat 33px; display:inline-block;}
.qz_banner ul li .qzz_pos{position:absolute; left:-9px;top:0; width:707px; height:76px; border:1px solid #ebebeb; margin-top:-1px;display:none; background:#fff;}
.qz_banner ul li .qzz_pos .qzz_more1{ position:absolute; right:-14px; top:15px; width:37px; height:20px; line-height:20px; padding-left:5px; padding-right:0;  border:1px solid #ededed; background: url(../images/tei2.png) no-repeat 33px; }
.qz_banner ul li .qzz_pos_box{ background: url(../images/ho.png) no-repeat 8px 18px; line-height:24px; padding-top:12px; width:622px; padding-left:28px; }
.qz_banner ul li .qzz_pos span{padding-left:0;}
.qz_banner ul li .qzz_pos .qz_a1{ padding:0 22px 0 19px;}
.qz_banner ul li a:hover{ color:#2bb8aa;}

/*主页广告下*/
.ban{ width:689px; height:310px; margin-top:10px; position:relative; border-bottom:1px solid #e8e8e8; overflow:hidden; }
.ban #chan{ width:30px; height:39px; text-align:center; line-height:39px; background:#000; opacity:0.6; color:#fff; position:absolute; right:30px; top:130px; font-size:16px; z-index:999;}
.ban ul{ position:absolute; left:0; top:0; }
.ban ul li{ width:689px; float:left; }
.ban ul li .li_l{ padding-right:11px; border-right:1px solid #eee; padding-top:10px; }
.ban ul li .li_r{ margin-left:11px; padding-top:10px;}
.ban img{ width:333px; height:232px; margin-bottom:20px; }
.ban ul li .ban_bot{ width:333px;}
.ban ul li .ban_bot .ban_bot_l{ width:225px; border-right:1px dashed #eee;}
.ban ul li .ban_bot .ban_bot_l h4{ font-size:14px; margin-bottom:8px; }
.ban ul li .ban_bot .ban_bot_l span{ padding:0; }
.ban ul .ban_r .ban_bot_l span{ padding:0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width:205px; display:block; }
.ban ul li .ban_bot .sell{ font-size:22px; color:#f76120; font-weight:bold; text-align:right; margin-top:8px;}
.ban_tip a{ position:absolute; top:130px; width:30px; height:39px; }
.ban_tip_l{ left:0; background:url(../images/arrows.png) no-repeat 0 -150px; }
.ban_tip_r{ right:0; background:url(../images/arrows.png) no-repeat 0 -189px; }
/*主页广告右侧*/
.column_r{ width:197px; height:478px; border:1px solid #eee; }
.column_r .app_arcrode{ width:197px; height:158px;}
.column_bot{ position:relative; width:197px; height:318px; border-top:1px solid #eee; overflow:hidden; }
.column_bot .tab_tick{ position:absolute; left:0; top:0; }
.column_bot .tab_time{ padding-top:56px; text-align:center; float:left; }
.column_bot .tab_time h3{ font-size:23px; color:#333; margin-bottom:10px;}
.column_bot .tab_time b{ color:#999; margin-bottom:8px; display:block;}
.column_bot .tab_time img{ margin-left:10px; margin-bottom:15px;}
.column_bot .col_tip a{ position:absolute; top:140px;width:30px; height:39px; }
.column_bot .col_tip .col_l{ left:0; background:url(../images/arrows.png) no-repeat 0 -150px; }
.column_bot .col_tip .col_r{ right:0; background:url(../images/arrows.png) no-repeat 0 -189px; }
.column_bot .s2{ height:7px; position:absolute; left:89px; bottom:13px; }
.column_bot .s2 span{ float:left; }
.column_bot .s2 .s2_1{ width:7px; height:7px; background:url(../images/side2.png) no-repeat; margin-right:5px; }
.column_bot .s2 .s2_1.active{ background:url(../images/side3.png) no-repeat; }

/*名店抢购*/
.famous{ height:310px; }
.fam_l{ width:953px;}
.fam_l #chan1{ width:30px; height:39px; text-align:center; line-height:39px; background:#000; opacity:0.6; color:#fff; position:absolute; right:30px; top:112px; font-size:16px; z-index:999; }
.fam_l h2{ font-size:20px; height:43px; line-height:43px; background:url(../images/famous.png) no-repeat; padding-left:35px;}
.fam_l .final{ width:225px; height:34px; border:1px solid #eee; background:#fff; padding-left:5px; padding-top:6px; margin-left:8px; border-radius:3px; }
.fam_l .fam_l_top .time1{ width:50px; height:28px; background:#818090; color:#fff; font-weight:bold; text-align:center; line-height:28px; font-size:12px;border-radius:3px; }
.fam_l .fam_l_top .time2{ margin-left:10px; width:150px; height:28px; background:#818090; color:#fff; text-align:center; line-height:28px; font-size:20px;border-radius:3px; }
.fam_l_top{ margin-bottom:5px;}
.fam_l_bot{ height:260px; width:952px; position:relative; overflow:hidden; }
.fam_l_bot ul{ position:absolute; left:0; top:0; }
.fam_l_bot ul li{ width:952px; height:245px; border:1px solid #eee; }
.fam_l_bot ul li .pur{ width:205px; padding:15px 16px 0;border-right:1px solid #eee; }
.fam_l_bot ul li img{ width:205px; height:124px; margin-bottom:20px;}
.fam_l_bot ul li a{ color:#666;}
.fam_l_bot ul li h4{ font-size:13px; }
.fam_l_bot ul li .fam_l_sell{ width:205px; height:42px; border-bottom:1px dashed #eee; line-height:42px; margin-bottom:11px; }
.fam_l_bot ul li .fam_l_sell span.fl{ color:#f76120; font-size:14px;}
.fam_l_bot ul li .fam_l_sell span.fr{ color:#999; }
.fam_l_bot ul li .sale{ width:103px; height:18px; background:#f76120; display:block; color:#fff; text-align:center; line-height:18px;}
.fam_tip a{ position:absolute; top:112px; width:30px; height:39px;}
.fam_tip_l{ left:0; background:url(../images/arrows.png) no-repeat 0 -150px; }
.fam_tip_r{ right:0; background:url(../images/arrows.png) no-repeat 0 -189px; }
.fam_r{ width:198px; height:296px; margin-top:14px; margin-left:19px; }
.fam_r h3{ font-size:19px; color:#333; margin-bottom:11px;}
.fam_r h3 span{ color:#fff; background:#ba26c0; display:inline-block; width:20px; height:21px; text-align:center; line-height:21px;}
.fam_more{ font-size:14px; color:#666;}
.fam_more:hover{ color:#32d3c3;} 
.fam_more i{ background:url(../images/little_icons.png) no-repeat 0 -9px; width:5px; height:7px; display:inline-block; margin-left:8px; margin-right:5px;  }
.fam_r .fam_r_bot{ border:1px solid #eee;}
.fam_r img{ width:196px; height:260px;}

/*food*/
.mtop30{ margin-top:30px;}
.food_hd h3{ height:37px; line-height:29px; font-size:20px; margin-bottom:13px;}
.fun_hd h3 i{ width:37px; height:29px;  background:url(../images/sublogos.png) no-repeat 0 0; display:inline-block; margin-right:6px; }
.ul1{ margin-top:5px;}
.ul1 li{ height:18px; line-height:18px; padding:0 9px 0 8px; border-right:1px solid #ddd; font-size:14px;}
.ul1 li a{ color:#666;}
.ul1 li a:hover{ color:#2bb8aa;}
.ul1 .food_more{ margin-left:20px; padding-right:14px;}
.ul1 .food_more i{ display:inline-block; width:5px; height:8px; background:url(../images/little_icons.png) no-repeat ; margin-left:4px;}
.food_bot{ border-left:1px solid #ddd; border-top:1px solid #ddd; }
.food_bot .ul2{ width:1169px;}
.food_bot .ul2 li{ padding:12px 15px 0; height:299px; border-right:1px solid #eee; border-bottom:1px solid #eee;position:relative; }
.food_bot .ul2 li img{ width:260px; height:154px; margin-bottom:15px;}
.food_bot .ul2 li a{ color:#666;}
.food_bot .ul2 li p{ font-size:14px; font-weight:bold; margin-bottom:9px; }
.food_bot .ul2 li .food_1{ background:url(../images/tags.png) no-repeat 0 -493px; width:43px; height:40px; position:absolute; left:15px; top:8px;}
.food_bot .ul2 li .food_2{ background:url(../images/tags.png) no-repeat 0 -451px; width:43px; height:40px; position:absolute; left:55px; top:8px;}
.food_bot .ul2 li .food_3{ background:url(../images/tags.png) no-repeat 0 -619px; width:43px; height:40px; position:absolute; left:95px; top:8px; }
.food_bot .ul2 li .sweet{ color:#999; margin-bottom:15px; display:block;}
.food_bot .ul2 li .sweet:hover{ color:#333;}
.food_bot .ul2 li .sale1{ height:27px; border-bottom:1px dashed #ddd; }
.food_bot .ul2 li .sale1 span{ font-size:17px; color:#f76120; margin-right:6px; }
.food_bot .ul2 li .sale1 i{ text-decoration:line-through; margin-top:4px;}
.food_bot .ul2 li .sale1 b{ margin-top:4px;}
.food_bot .ul2 li .level{ width:119px; height:13px; margin-left:142px; margin-top:11px;}
.food_bot .ul2 li .level .fl{ background:url(../images/stars.png) no-repeat; width:60px; height:12px;}

.food_foot{ height:48px; background:#f6f6f6; text-align:center; line-height:48px; margin-top:-1px; position:relative; z-index:6; }
.food_foot a{ color:#666; font-size:14px;}
.food_foot a:hover{ color:#2bb8ba; }
.food_foot a i{ display:inline-block; width:5px; height:8px; background:url(../images/little_icons.png) no-repeat 0 -8px; margin-left:4px;}

.fun_hd h3{ height:37px; line-height:29px; font-size:20px; margin-bottom:13px;}
.fun_hd h3 i{ width:37px; height:29px;  background:url(../images/sublogos.png) no-repeat 0 -34px; display:inline-block; margin-right:6px; }

.mov_hd h3{ height:37px; line-height:29px; font-size:20px; margin-bottom:13px;}
.mov_hd h3 i{ width:37px; height:29px;  background:url(../images/sublogos.png) no-repeat 0 -68px; display:inline-block; margin-right:6px; }

.hotel_hd h3{ height:37px; line-height:29px; font-size:20px; margin-bottom:13px;}
.hotel_hd h3 i{ width:37px; height:29px;  background:url(../images/sublogos.png) no-repeat 0 -102px; display:inline-block; margin-right:6px; }

.life_hd h3{ height:37px; line-height:29px; font-size:20px; margin-bottom:13px;}
.life_hd h3 i{ width:37px; height:29px;  background:url(../images/sublogos.png) no-repeat 0 -136px; display:inline-block; margin-right:6px; }

/*底部选项卡*/
.choice{ margin-bottom:20px; margin-top:40px; }
.choice .tab1{ border:1px solid #eee; border-bottom:none; width:910px;  }
.choice a{ color:#666;}
.choice .tab1 a.btn{ float:left; width:90px; margin-left:-1px; border-left:1px solid #eee; border-right:1px solid #eee; text-align:center; height:23px; line-height:23px;}
.choice .tab1 .btn.active{ background:#eee;}
.cho_box{ border:1px solid #eee;}
.cho_box .cont{ display:none; padding:13px; overflow:hidden; }
.cho_box ul li{ padding:0 24px; float:left; line-height:21px;}
.cho_box .cont.active{ display:block;}

/*foot*/
.qz_foot .qz_foot_top{ width:1170px; border-bottom:1px solid #eee; border-top:1px solid #eee; height:1px; margin-top:20px; }
.qz_foot a:hover{ text-decoration:underline;}
.qz_foot_box { width:1170px; font-size:14px; }
.qz_foot_box h5{font-size:15px; color:#3e4545; margin-top:24px; margin-bottom:12px;}
.qz_foot_box li{ font-size:12px; width:192px; padding-left:25px; height:215px;}
.qz_foot_box li a{ color:#999;}
.qz_foot_box li p{ line-height:20px;} 
.qz_foot_box li h3{ background:url(../images/service.png) no-repeat; width:52px; height:49px; margin-top:21px; margin-left:61px; margin-bottom:18px;}
.qz_foot_box li h6{ color:#666;  margin-bottom:4px;}
.qz_foot_box .qz_inctoduce{ background:none; padding-left:0; margin-left:0; line-height:18px; color:#666;}
.qz_foot_box li .qz_last{ color:#2bb8aa; display:inline-block; margin-bottom:18px; }
.qz_news{ background:url(../images/mm_pic2.png) no-repeat; width:111px; height:40px;}
.qz_bao{ background:url(../images/mm_pic3.png) no-repeat; width:123px; height:40px;}
.qz_ch{ background:url(../images/mm_pic4.png) no-repeat; width:87px; height:40px;}
.qz_kh{ background:url(../images/mm_pic5.png) no-repeat;width:113px; height:40px;}
.qz_xf{ background:url(../images/mm_pic6.png) no-repeat; width:123px; height:40px;}
.foot_bot{ background:#f9f9f9; height:138px; border-top:1px solid #ddd; padding-top:30px; font-size:9px; min-width:1170px; }
.foot_bot .qz_police{ width:100%; text-align:center; color:#999; }
.foot_bot .qz_police a{ color:#999; }
.foot_bot .qz_police span{ margin:0 5px;}
.qz_foot_b{ margin-top:22px; margin-left:393px;}
/*totop*/
.m_side_btns{ position:fixed;bottom:20px;right:10px;border:1px solid #eee;border-top:none;}
.m_side_btns .side_btn{ display: block;width:41px;height: 41px;border-top:1px solid #eee;box-sizing:border-box;background:url(../images/sideBtns.png) no-repeat;font-size: 0;color:#fff;line-height: 16px;text-align:center;}
.m_side_btns .toTopBtn{  background-position:0 -88px;}
.m_side_btns .surveyBtn{  background-position:0 -132px;}
.m_side_btns .helpBtn{  background-position:0 -44px;}
.m_side_btns .side_btn:hover{  padding:4px 5px;font-size:12px; background:#bbb;}




































































