@charset "utf-8";
/* CSS Document */

.wrap980{ width:980px; margin:0 auto;}
/*head*/
.head{ height:30px; line-height:30px; border-top:1px solid #ddd; border-bottom:1px solid #ddd; background:#f9f9f9; min-width:1170px;}
/*login左侧*/
.login_l a{ color:#666;}
.login_l a.collect:hover .col{ background:url(../images/l_down.png) no-repeat 0 0; }
.login_l .col{ background:url(../images/login_star.png) no-repeat; margin-top:9px; margin-right:3px; width:13px; height:13px;}
.login_l .login{ margin-left:17px; color:#f76120;}
.login_l .login:hover{ text-decoration:underline;}
.login_l .register{ margin-left:13px; margin-right:10px;}
.login_l .register:hover{ text-decoration:underline;}
.login_l .line{ color:#ddd;}
.login_l .phone{ margin-left:8px; width:90px; position:relative; }
.login_l .phone_box{ width:90px; background:url(../images/l_arrow2.png) no-repeat 77px 14px; display:block; border-left:1px solid #f9f9f9; border-right:1px solid #f9f9f9; position:absolute; z-index:10; }
.login_l .phone .phone_box.active{ width:90px; height:28px; line-height:30px; background:url(../images/l_arrow.png) no-repeat 77px 14px #fff; display:block; border-left:1px solid #ddd; border-right:1px solid #ddd;}
.login_l .phone .pos{ width:164px; height:265px; border:1px solid #ddd; position:absolute; left:0; top:27px; background:#fff; display:none; z-index:2;}
.login_l .phone .pos .s1{ background:#2bb8aa; width:2px; height:10px; display:inline-block;}
.login_l .phone .pos img{ margin-left:25px;}
.login_l .phone .pos a{ height:132px; border-bottom:1px dashed #ddd; display:block; position:relative; padding-left:10px; }
.login_l .phone .pos a.free2{ border-bottom:1px solid #ddd;}
.login_l .phone .pos a i{ background:url(../images/app_pos_r.png) no-repeat ; width:10px; height:16px; position:absolute; right:13px; top:67px; display:none;}
.login_l .phone .pos a:hover{ background:#f9f9f9;}
.login_l .phone .pos a:hover i{ display:block;}
.login_l .phone_box .app_phone{ background:url(../images/l-hd_phone.png) no-repeat; width:10px; height:12px; margin:9px 3px 0 9px;}
.login_l .phone_box:hover{ background:url(../images/l_arrow.png) no-repeat 77px 14px; color:#2bb8aa;}
.login_l .phone_box:hover .app_phone{ background:url(../images/l_hd_phone2.png) no-repeat;}

/*login右侧*/
.login_r ul li{ position:relative; }
.login_r ul li b{ background:url(../images/l_arrow2.png) no-repeat; width:6px; height:3px; margin-left:7px; margin-top:14px; }
.login_r ul li .i1{ background:url(../images/cart_r.png) no-repeat; width:13px; height:12px; margin-top:10px; margin-right:10px;}
.login_r ul li .i2{ color:#f87e49;}
.login_r ul li .line1{ width:1px; height:12px; background:#ddd; margin-top:9px;}
.login_r ul li a:hover{ color:#2bb8aa;}
.login_r ul li a{ color:#666 }
.login_r ul li .a1{ padding-left:11px; padding-right:7px; border-right:1px solid #f9f9f9; border-left:1px solid #f9f9f9;}
.login_r ul li .a2{ padding-right:8px;}
.login_r ul li .a2:hover{ text-decoration:underline; }
.login_r ul li:hover .a1{ background:#fff; position:relative; z-index:10; border-right:1px solid #ddd; border-left:1px solid #ddd; padding-left:12px; padding-right:8px; margin-left:-1px; margin-right:-1px; }
.login_r ul li:hover .b1{ background:url(../images/l_arrow.png) no-repeat; width:6px; height:3px; margin-left:7px; margin-top:14px; }
.login_r ul li .pos2{ border:1px solid #ddd; position:absolute; left:0; top:29px; background:#fff; padding-top:10px; display:none; z-index:9; }
.login_r ul li.active .pos2{ display:block; }
.login_r ul li .pos2 a{ height:30px; display:block; padding-left:13px; }
.login_r ul li .pos2 a:hover{ background:#f9f9f9; color:#2bb8aa; }
.login_r ul li .my_pos{ width:81px; height:250px; padding-top:8px; left:-1px; }
.login_r ul li .recent_pos{ position:absolute; left:-139px; width:219px; height:202px; }
.login_r ul li .recent_pos .rec_1{ height:63px; border-bottom:1px dashed #ddd; padding-left:13px; padding-top:12px;}
.login_r ul li .recent_pos .rec_1:hover{ background:#f9f9f9;}
.login_r ul li .recent_pos .rec_1 img{ width:80px; height:50px; }
.login_r ul li .recent_pos .rec_1 .price{ width:105px; }
.login_r ul li .recent_pos .rec_1 .price p{ line-height:16px;}
.login_r ul li .recent_pos .rec_1 .price span{ color:#f76120; font-weight:bold;}
.login_r ul li .recent_pos .rec_1 .price i{ text-decoration:line-through;}
.login_r ul li .recent_pos .clear{text-align:center; height:50px; line-height:50px; color:#2bb8aa}
.login_r ul li .recent_pos .clear:hover{ text-decoration:underline; }
.login_r ul li .shop_pos{ width:219px; height:70px; text-align:center; line-height:70px; left:-109px; }
.login_r ul li .service_pos{ width:92px; height:160px; left:-12px; }
.login_r ul li .sell_pos{ width:97px; height:100px; left:-17px; }
.login_r ul li .more_pos{ width:80px; height:100px; position:absolute; left:-24px; }

/*banner*/
.banner{ position:relative; }
.banner span{ position:absolute; right:8px; top:9px; width:13px; height:10px; background:url(../images/x.png) no-repeat;}

/*logosearch*/
.logosearch{ height:84px; margin-top:21px; }
.logosearch .logo{ margin-right:93px;}
.logosearch .logo h2{ width:82px; height:54px; background:url(../images/base.vdd88fa40.png) no-repeat 0 -78px; text-indent:-9999em; margin-right:10px;}
.logosearch .logo .bj{ font-size:18px; color:#000; font-weight:bold;}
.logosearch .logo .citys{ width:60px; height:45px;}
.logosearch .logo .citys a{ display:block;}
.logosearch .logo .citys a.bj{ margin-bottom:2px; margin-top:5px;}
.logosearch .logo .citys a.city{ width:58px; height:20px; border:1px solid #eee; color:#999; text-align:center; line-height:20px;}
.search{width:488px;}
.search .search_c{ width:484px; height:38px; border:2px solid #2bb8aa; margin-bottom:14px; }
.search .store{ width:62px; height:38px; border-right:1px solid #ddd;  text-align:center; line-height:38px;}
.search .store a{ display:block; width:61px; height:38px; background:#fff; color:#666; }
.search .store a.team{ background:url(../images/l_arrow2.png) no-repeat 49px 17px; }
.search .store a.team:hover{ background:url(../images/l_arrow.png) no-repeat 49px 17px #f9f9f9;}
.search .store .store_pos{ border:1px solid #ddd; border-top:none; display:none; }
.search .search_bot ul li{ margin-right:20px;}
.search .search_bot ul li a{ color:#666;}
.search .search_bot ul li a:hover{ color:#2db8ad; text-decoration:underline; }
.search .text{ padding-top:12px; padding-bottom:12px; padding-left:6px; font-size:14px; color:#a9a9a9; width:352px; }
.search .submit{ width:63px; height:38px; text-align:center; line-height:38px; background:#2bb8aa; color:#fff; font-size:14px; cursor:pointer; }
.search_r a{ margin-left:18px; width:36px; height:42px; }
.search_r .a1{ background:url(../images/l_meituan.png) no-repeat -10px -30px; }
.search_r .a2{ background:url(../images/l_meituan.png) no-repeat -75px -30px; width:60px; }
.search_r .a3{ background:url(../images/l_meituan.png) no-repeat -160px -30px; }

/*nav*/
.nav{ width:980px;}
.nav_left{ background:#1caf9a; width:245px; height:40px;  color:#fff; line-height:40px; }
.nav_left .all.active{ background:url(../images/l_arrow_up.png) no-repeat 191px 13px;}
.nav_left .all{ font-size:15px; margin-left:14px; background:url(../images/l_arrow_down.png) no-repeat 191px 13px;}
/*侧边栏*/
.qz_column{ height:482px; width:244px; margin-bottom:30px; display:none; position:relative; z-index:999; }
.qz_side{ width:244px; height:479px; border:1px solid #eee; border-top:none; background:#fafafa; }
.qz_side:hover{ border:1px solid #bdbdc7; border-top:none;}
.qz_side ul li{ position:relative; }
.qz_side ul li .qz_div1{ position:relative; z-index:2; height:52px; line-height:52px; width:244px; }
.qz_side ul li .qz_div1 .side_box{ margin-left:10px; width:201px; padding-left:5px; padding-right:18px; border-bottom:1px solid #eee;}
.qz_side ul li .qz_div1 .side_box a.a2{ margin-right:10px; }
.qz_side ul li .qz_div1:hover .side_box{ margin-left:10px; width:201px; padding-left:5px; padding-right:27px; border-bottom:1px solid #eee;}
.qz_side ul li .beauty{ border-bottom:none; height:63px; line-height:62px; }
.qz_side ul li .qz_div1 a{ color:#666; }
.qz_side ul li .qz_div1 a h2{ font-size:14px; color:#333; }
.qz_side ul li .qz_div1 a h2:hover{ color:#2bb8aa; }
.qz_side ul li .qz_div1 a:hover{ color:#2bb8aa; }
.qz_side ul li .pic_r{ background:url(../images/g_nav_nest.png) no-repeat; color:#e7e1dd; position:absolute; right:15px; top:20px; width:5px; height:9px;  }
.qz_side ul li .pos3{ width:284px; height:479px; border-right:1px solid #bdbdc7; border-bottom:1px solid #bdbdc7; position:absolute; left:245px; top:0px; display:none; background:#fff;  }
.qz_side ul li.active .pos3{ display:block; }
.qz_side ul li .pos3 .pos_l{ width:268px; padding-left:20px; }
.qz_side ul li .pos3 .pos_l a:hover{ color:#f96222;}
.qz_side ul li .pos3 .pos_l h3{ margin-top:19px; margin-bottom:18px; color:#000; font-size:16px;}
.qz_side ul li .pos3 .pos_l a{ width:134px; line-height:24px; color:#666;}
.qz_side ul li #top_52{ top:-52px;}
.qz_side ul li #top_104{ top:-104px;}
.qz_side ul li #top_208{ top:-208px;}
.qz_side ul li #top_260{ top:-260px;}
.qz_side ul li #top_312{ top:-312px;}
.qz_side ul li #top_364{ top:-364px;}
.qz_side ul li #top_416{ top:-416px;}

.nav_right{  width:735px; background:#2bb8aa; height:40px; font-size:16px; line-height:40px;}
.nav_right a{ float:left; padding-left:27px; padding-right:29px; font-weight:bold; color:#fff;}
.nav_right a:hover{ background:#00c3b0;}

/*region*/
.region{ width:963px; height:107px; padding-left:15px; margin:0 auto; border:1px solid #eee;}
.region a{ border-radius:2px; color:#666}
.region a:hover{ background:#2bb8aa; color:#fff; }
.region .reg_top{ width:947px; height:28px; border-bottom:1px dashed #eee; padding-top:14px;  }
.region .reg_top dl{ margin-left:16px;  }
.region  dt{ padding:0 4px; background:#2bb8aa; text-align:center; line-height:19px; color:#fff; margin-right:20px; border-radius:3px;}
.region  dt a{ color:#fff;}
.region  dl dd a{ color:#666; margin-right:24px; padding:2px 4px; }

.region .reg_bot{ height:50px; padding-top:14px; }
.region .reg_bot .region_box .train{ color:#f76120; background:url(../images/train.png) no-repeat 2px; padding-left:18px;}
.region .reg_bot .region_box .train:hover{ background:url(../images/train2.png) no-repeat 2px #2bb8aa; padding-left:18px;}
.region .reg_bot .tot{ padding:0 4px; background:#2bb8aa; text-align:center; line-height:19px; color:#fff; margin-right:20px; margin-left:16px; border-radius:2px;}
.region .reg_bot .tot a{ color:#fff; }
.region .reg_bot .region_box{ width:800px; }
.region .reg_bot .region_box a{ margin-right:24px; margin-bottom:4px; padding:2px 4px; color:#666; }
.region .reg_bot .region_box a:hover{ color:#fff;}

.sales{ width:978px; border:1px solid #eee; height:29px; margin-top:8px; margin-bottom:10px;}
.sales .sales_l{ width:376px;}
.sales .sales_l li{ border-right:1px solid #eee; line-height:29px; padding:0 15px 0 20px;  }
.sales .sales_l li a{ color:#666;}
.sales .sales_l li:hover a{ color:#2bb8aa;}
.sales .sales_l li:hover i{ background:url(../images/tags.png) no-repeat 0 -810px;}
.sales .sales_l li i{ width:7px; height:8px; background:url(../images/tags.png) no-repeat 0 -820px; display:inline-block; margin-left:6px;}
.sales .money{ height:29px; line-height:29px;}
.sales .money i{ margin-left:22px;  width:11px; height:11px; margin-top:9px; margin-right:2px; }
.sales .money a{ color:#666;}
.sales .money i.i1{ background:url(../images/tags.png) no-repeat -2px -98px;}
.sales .money i.i2{ background:url(../images/tags.png) no-repeat -2px -77px;}

.list_l .ul3{ width:740px; }
.list_l .ul3 li{ height:370px; position:relative; border:1px solid #eee; margin-right:16px; margin-bottom:16px; }
.list_l .ul3 li img{ width:350px; height:214px; margin-bottom:15px;}
.list_l .ul3 li a{ color:#666;}
.list_l .ul3 li p{ font-size:16px; font-weight:bold; margin-bottom:9px; margin-left:17px; }
.list_l .ul3 li .list_1{ background:url(../images/tags.png) no-repeat 0 -493px; width:43px; height:40px; position:absolute; left:15px; top:-4px;}
.list_l .ul3 li .list_2{ background:url(../images/tags.png) no-repeat 0 -451px; width:43px; height:40px; position:absolute; left:55px; top:-4px;}
.list_l .ul3 li .sweet{ color:#999; margin-bottom:23px; display:block; margin-left:17px; font-size:14px;}
.list_l .ul3 li:hover .sweet{ color:#333;}
.list_l .ul3 li .sale1{ height:37px; border-bottom:1px dashed #ddd; }
.list_l .ul3 li .sale1 span{ font-size:17px; color:#f76120; margin-right:18px; margin-left:17px; font-weight:bold; }
.list_l .ul3 li .sale1 i{ margin-top:4px;}
.list_l .ul3 li .sale1 i em{ text-decoration:line-through; margin-left:5px;}
.list_l .ul3 li .level b{ margin-top:4px; margin-left:16px;}
.list_l .ul3 li .level b i{ color:#f76120; }
.list_l .ul3 li .level .fl2{ background:url(../images/stars.png) no-repeat 0 11px; padding-left:69px;}
.list_l .ul3 li .level{ height:33px; padding-top:1px; padding-bottom:1px; background:#fff}
.list_l .ul3 li .level .level_box .level_box_1{ padding-left:16px; width:317px; padding-right:15px; background:#f9f9f9; height:33px; line-height:33px;}
.list_l .ul3 li .level .level_box{ border-bottom:1px solid #eee;}
.list_l .ul3 li:hover .level_box{ border-bottom:1px solid #2bb8aa;}
.list_l .ul3 li:hover .level{ border-bottom:1px solid #2bb8aa} 

/*list_r*/
.mall{ width:217px; height:226px; border:1px solid #eee; padding-left:21px; margin-bottom:16px; }
.mall a{ color:#333;}
.mall .mall_top{ height:77px; border-bottom:1px dashed #eee; width:124px; background:url(../images/shop8.jpg) no-repeat 7px 35px; padding-left:73px; padding-top:35px; }
.mall h3{ font-size:17px; margin-bottom:10px;}
.mall span{ height:23px; line-height:23px; padding-left:13px; color:#fff; background:url(../images/banner.jpg) no-repeat; display:block;}
.mall .mall_bot{ height:99px; width:124px; background:url(../images/shop9.jpg) no-repeat 7px 35px; padding-left:73px; padding-top:13px;}
.mall .mall_bot h3{ margin-bottom:5px;}
.mall .mall_bot i{ color:#f56d57; margin-bottom:10px; display:block;}
.mall .mall_bot span{ background: url(../images/banner2.jpg) no-repeat; }

.list_time{ width:238px; height:184px; border:1px solid #eee;}
.list_time h2{ height:44px; color:#333; padding-left:20px; line-height:44px; font-size:16px;}

.list .skim{ width:223px;height:256px;padding-left:15px;border:1px solid #e8e8e8;margin-top:10px;}
.list .skim li{ width:209px;height:208px;border-bottom:1px dashed #e0e0e0;margin-bottom:20px;}
.list .skim li p a{ color:#666;}
.list .skim .last{ border:none;}
.list .skim .solid{ height:216px;border-bottom:1px solid #f0f0f0;margin-bottom:0;}
.list .skim h3{ width:208px;height:18px;line-height:18px;color:#000;font-size:14px;margin:23px 0 12px 0;}
.list .skim .img{ width:208px;height:126px;margin-left:1px;position:relative;}
.list .skim .introduce{ width:209px;height:36px;line-height:18px;}
.list .skim .bottom .price{ color:#f7616a;height:16px;line-height:16px;margin-top:6px;}
.list .skim .bottom .sprice{ height:18px;line-height:18px;margin-top:7px;margin-left:9px;}
.list .skim .bottom .sprice span{ color:#f76120;}
.list .skim .rank{ background:url(../images/g_sideraffle.png) no-repeat;position:absolute;left:0;top:-2px;
width:13px;height:17px;line-height:17px;padding-left:5px;color:#ffffdf;}
.list .raffle{ width:238px;height:154px;border:1px solid #e8e8e8;margin-top:16px; background:url(../images/g_sideraffle2.jpg) no-repeat 15px 69px; }
.list .raffle .top{ width:238px;height:47px;margin-top:-15px;}
.list .raffle ul{ margin-left:78px;margin-top:20px;color:#000;}
.list .raffle li{ background:url(../images/g_sideraffle3.jpg) no-repeat 1px 5px;padding-left:5px;height:24px;}
.list .raffle a{ color:#2bb8aa;margin-left:5px; }
.list .raffle a:hover{ text-decoration:underline; }
.list .employ{ width:238px;height:366px;border:1px #e8e8e8 solid;margin-top:16px;}
.list .employ .img{ width:238px;height:120px;}
.list .employ ul{ margin-left:20px;}
.list .employ li{ background:url(../images/g_sideemploy2.jpg) no-repeat 0 0px;width:198px;height:75px;
border-bottom:1px dotted #ddd;height:55px;margin-top:21px;}
.list .employ li a{ color:#666; }
.list .employ li a:hover{color:#2bb8aa; }
.list .employ .li2{ background:url(../images/g_sideemploy3.jpg) no-repeat 0 0px;}
.list .employ h3{ height:16px;line-height:16px;font-size:16px;margin-left:38px;}
.list .employ p{ height:16px;line-height:16px;margin:6px 0 0 38px;}
.list .employ .p2{ height:16px;line-height:16px;margin:6px 0 0 38px;}
.list .employ .li3{ background:url(../images/g_sideemploy4.jpg) no-repeat 0 0px;height:75px;border:none;}
.list .qz_recent{ width:238px;height:218px;border:1px solid #e8e8e8;margin-top:10px;}
.list .qz_recent a{ color:#666; }
.list .qz_recent_followTop{ position:fixed;top:0;margin:0;}
.list .qz_recent_follow{ position:fixed;top:44px;margin:0;}
.list .qz_recent .top{ width:218px;height:50x;padding:0 10px;line-height:50px;}
.list .qz_recent h3{ color:#000;font-size:16px;}
.list .qz_recent .top_right{ color:#2bb8aa;}
.list .qz_recent ol{ margin-left:20px;}
.list .qz_recent .li1{ width:198px;height:72px;border-bottom:1px dotted #ddd;}
.list .qz_recent .img{ width:80px;height:50x;margin-top:2px;}
.list .qz_recent .bottom_right{ width:108px;margin-left:10px;}
.list .qz_recent .bottom_right .introduce{ height:32px;margin-top:1px;line-height:16px;} 
.list .qz_recent .bottom_right .introduce:hover{color:#2bb8aa;} 
.list .qz_recent .bottom_right .price{ height:14px;margin-top:5px;line-height:14px;color:#f76120;}
.list .qz_recent .bottom_right span{ color:#999;text-decoration:line-through;margin-left:5px;} 
.list .qz_recent .li2{ width:198px;height:75px;margin-top:16px;}
/*next page*/
.page{ padding-left:170px;}
.page a{ width:34px; height:34px; border:1px solid #eee; background:#fff; margin-right:9px; text-align:center; line-height:36px; color:#2bb8aa; font-size:14px; font-weight:bold;}
.page a:hover{ border:1px solid #2bb8aa; }
.page a.active{ background:#2bb8aa; color:#fff; }
.page a.page_last{ width:68px;}

/*底部选项卡*/
.choice{ margin-bottom:20px; margin-top:40px; }
.choice .tab1{ border:1px solid #eee; border-bottom:none; width:910px;  }
.choice a{ color:#666;}
.choice .tab1 a.btn{ float:left; width:90px; margin-left:-1px; border-left:1px solid #eee; border-right:1px solid #eee; text-align:center; height:23px; line-height:23px;}
.choice .tab1 .btn.active{ background:#eee;}
.cho_box{ border:1px solid #eee;}
.cho_box .cont{ display:none; padding:13px; overflow:hidden; }
.cho_box ul li{ padding:0 24px; float:left; line-height:21px;}
.cho_box .cont.active{ display:block;}

/*foot*/
.qz_foot .qz_foot_top{ min-width:980px; border-bottom:1px solid #eee; border-top:1px solid #eee; height:1px; margin-top:20px; }
.qz_foot a:hover{ text-decoration:underline;}
.qz_foot_box { width:1170px; font-size:14px; }
.qz_foot_box h5{font-size:15px; color:#3e4545; margin-top:24px; margin-bottom:12px;}
.qz_foot_box li{ font-size:12px; width:192px; height:215px;}
.qz_foot_box li a{ color:#999;}
.qz_foot_box li p{ line-height:20px;} 
.qz_foot_box li h3{ background:url(../images/service.png) no-repeat; width:52px; height:49px; margin-top:21px; margin-left:61px; margin-bottom:18px;}
.qz_foot_box li h6{ color:#666;  margin-bottom:4px;}
.qz_foot_box .qz_inctoduce{ background:none; padding-left:0; margin-left:0; line-height:18px; color:#666;}
.qz_foot_box li .qz_last{ color:#2bb8aa; display:inline-block; margin-bottom:18px; }
.qz_news{ background:url(../images/mm_pic2.png) no-repeat; width:111px; height:40px;}
.qz_bao{ background:url(../images/mm_pic3.png) no-repeat; width:123px; height:40px;}
.qz_ch{ background:url(../images/mm_pic4.png) no-repeat; width:87px; height:40px;}
.qz_kh{ background:url(../images/mm_pic5.png) no-repeat;width:113px; height:40px;}
.qz_xf{ background:url(../images/mm_pic6.png) no-repeat; width:123px; height:40px;}
.foot_bot{ background:#f9f9f9; height:138px; border-top:1px solid #ddd; padding-top:30px; font-size:9px; min-width:1170px; }
.foot_bot .qz_police{ width:100%; text-align:center; color:#999; }
.foot_bot .qz_police a{ color:#999; }
.foot_bot .qz_police span{ margin:0 5px;}
.qz_foot_b{ margin-top:22px; margin-left:393px;}

.img_fix{ position:fixed; top:206px;right:66px; width:113px; height:193px; }
.img_fix_bot{ width:106px; height:121px; border:1px solid #eee; text-align:center; padding-top:18px; position:relative; }
.img_fix_bot a{ color:#666;}
.img1{ width:113px; height:119px;}
.img2{ width:74px; height:74px;  display:inline-block; margin-bottom:9px; }
.img_close{ position:absolute; right:5px; top:5px; width:8px; height:8px;}
















